/*Lol button css*/
.button{
	border:3px solid rgba(188,142,40,.7);
	border-radius:0;
	padding:13px 35px 12px;
	color:#bc8e28;
	font-size:18px;
	font-family: 'Caudex', serif;
	font-weight:700;
	font-style:normal;
	text-transform:uppercase;
	background:#26272d;
	background-image:transparent;
	box-shadow:0 0 0 0 transparent;
	border-image:linear-gradient(to bottom,#bc8e28 0,#936d21 100%);
	border-image-slice:1;
	transition:all ease .5s;
}
.button:hover{
	background-image:url(../res/btn.jpg);
	background-position:center center;
	background-size:cover;
	box-shadow:0 0 10px 4px rgba(211,156,47,.4),inset 0 0 5px 2px rgba(211,156,47,.3);
	border:3px solid rgba(211,156,47,.7)
}
.main{
	padding-top: 100px;
	padding-left: 150px;
}